In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [2]:
time_wise = pd.read_csv('Dataset/only_road_accidents_data3.csv')
time_wise

,STATE/UT,YEAR,0-3 hrs. (Night),3-6 hrs. (Night),6-9 hrs (Day),9-12 hrs (Day),12-15 hrs (Day),15-18 hrs (Day),18-21 hrs (Night),21-24 hrs (Night),Total
0,A & N Islands,2001,2,6,29,40,39,40,18,7,181
1,A & N Islands,2002,2,6,22,41,33,33,23,8,168
2,A & N Islands,2003,2,8,31,35,28,36,25,15,180
3,A & N Islands,2004,2,5,29,42,43,43,37,14,215
4,A & N Islands,2005,0,8,27,28,38,42,50,13,206
...,...,...,...,...,...,...,...,...,...,...,...
485,West Bengal,2010,1241,1397,1721,2508,2272,2296,1831,1459,14725
486,West Bengal,2011,1200,1493,1687,2553,2182,2196,1812,1345,14468
487,West Bengal,2012,1346,1511,1837,2831,2328,2268,1966,1521,15608
488,West Bengal,2013,1442,1911,2136,2900,2246,2366,2137,1411,16549
489,West Bengal,2014,1455,1634,2022,2998,2570,2458,2132,1836,17105

In [3]:
time_wise.isnull().sum()

STATE/UT             0
YEAR                 0
0-3 hrs. (Night)     0
3-6 hrs. (Night)     0
6-9 hrs (Day)        0
9-12 hrs (Day)       0
12-15 hrs (Day)      0
15-18 hrs (Day)      0
18-21 hrs (Night)    0
21-24 hrs (Night)    0
Total                0
dtype: int64

In [4]:
time_wise.columns.tolist()

['STATE/UT',
 'YEAR',
 '0-3 hrs. (Night)',
 '3-6 hrs. (Night)',
 '6-9 hrs (Day)',
 '9-12 hrs (Day)',
 '12-15 hrs (Day)',
 '15-18 hrs (Day)',
 '18-21 hrs (Night)',
 '21-24 hrs (Night)',
 'Total']

In [15]:
time_wise.rename(columns={
    'Midnight':'MIDNIGHT',
    '':'DAWN',
    'Morning':'MORNING',
    'Lunch':'MIDDAY',
    'Afternoon':'AFTERNOON',
    'Evening':'DUSK',
    '':'EVENING',
    'Night':'NIGHT'}, inplace=True)

In [16]:
time_wise

,STATE/UT,YEAR,MIDNIGHT,EVENING,MORNING,MIDDAY,AFTERNOON,DUSK,EVENING,NIGHT,Total
0,A & N Islands,2001,2,6,29,40,39,40,18,7,181
1,A & N Islands,2002,2,6,22,41,33,33,23,8,168
2,A & N Islands,2003,2,8,31,35,28,36,25,15,180
3,A & N Islands,2004,2,5,29,42,43,43,37,14,215
4,A & N Islands,2005,0,8,27,28,38,42,50,13,206
...,...,...,...,...,...,...,...,...,...,...,...
485,West Bengal,2010,1241,1397,1721,2508,2272,2296,1831,1459,14725
486,West Bengal,2011,1200,1493,1687,2553,2182,2196,1812,1345,14468
487,West Bengal,2012,1346,1511,1837,2831,2328,2268,1966,1521,15608
488,West Bengal,2013,1442,1911,2136,2900,2246,2366,2137,1411,16549
489,West Bengal,2014,1455,1634,2022,2998,2570,2458,2132,1836,17105

In [40]:
px.scatter_3d(time_wise, x="STATE/UT", y="YEAR",
               z="Total", color="species", height=700)

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of [0] but received: STATE/UT

In [37]:
gap = px.data.gapminder()
px.scatter(gap, x="STATE/UT", y="YEAR", animation_frame="Total",
           animation_group="country", size="pop", color="continent",
           hover_name="country", log_x=True, size_max=55,
           range_x=[100,100000], range_y=[25,90])

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap', 'iso_alpha', 'iso_num'] but received: STATE/UT

In [39]:
px.scatter(time_wise, x="STATE/UT", y="YEAR", color="Total")

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of [0] but received: STATE/UT