In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
time_wise = pd.read_csv('Dataset/only_road_accidents_data3.csv')
time_wise

,STATE/UT,YEAR,0-3 hrs. (Night),3-6 hrs. (Night),6-9 hrs (Day),9-12 hrs (Day),12-15 hrs (Day),15-18 hrs (Day),18-21 hrs (Night),21-24 hrs (Night),Total
0,A & N Islands,2001,2,6,29,40,39,40,18,7,181
1,A & N Islands,2002,2,6,22,41,33,33,23,8,168
2,A & N Islands,2003,2,8,31,35,28,36,25,15,180
3,A & N Islands,2004,2,5,29,42,43,43,37,14,215
4,A & N Islands,2005,0,8,27,28,38,42,50,13,206
...,...,...,...,...,...,...,...,...,...,...,...
485,West Bengal,2010,1241,1397,1721,2508,2272,2296,1831,1459,14725
486,West Bengal,2011,1200,1493,1687,2553,2182,2196,1812,1345,14468
487,West Bengal,2012,1346,1511,1837,2831,2328,2268,1966,1521,15608
488,West Bengal,2013,1442,1911,2136,2900,2246,2366,2137,1411,16549
489,West Bengal,2014,1455,1634,2022,2998,2570,2458,2132,1836,17105

In [3]:
time_wise.isnull().sum()

STATE/UT             0
YEAR                 0
0-3 hrs. (Night)     0
3-6 hrs. (Night)     0
6-9 hrs (Day)        0
9-12 hrs (Day)       0
12-15 hrs (Day)      0
15-18 hrs (Day)      0
18-21 hrs (Night)    0
21-24 hrs (Night)    0
Total                0
dtype: int64