In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [9]:
month_wise = pd.read_csv('Dataset/only_road_accidents_data_month2.csv')
month_wise

,STATE/UT,YEAR,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER,TOTAL
0,A & N Islands,2001,8,23,15,15,14,19,14,19,7,12,13,22,181
1,A & N Islands,2002,12,10,14,16,10,7,16,11,23,21,11,17,168
2,A & N Islands,2003,19,13,15,13,13,12,8,16,17,25,14,15,180
3,A & N Islands,2004,21,14,22,17,13,18,16,19,16,20,15,24,215
4,A & N Islands,2005,19,21,22,17,13,19,21,14,15,19,10,16,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,West Bengal,2010,1245,1150,1349,1246,1172,1284,1231,1190,1128,1227,1251,1252,14725
486,West Bengal,2011,1350,1179,1314,1148,1220,1241,1185,1074,1112,1214,1161,1270,14468
487,West Bengal,2012,1346,1383,1357,1270,1352,1434,1349,1204,1112,1251,1179,1371,15608
488,West Bengal,2013,1564,1382,1474,1392,1629,1391,1315,1208,1228,1299,1335,1332,16549
489,West Bengal,2014,1516,1398,1473,1385,1527,1439,1416,1356,1391,1395,1415,1394,17105

In [10]:
month_wise.isnull().sum()

STATE/UT     0
YEAR         0
JANUARY      0
FEBRUARY     0
MARCH        0
APRIL        0
MAY          0
JUNE         0
JULY         0
AUGUST       0
SEPTEMBER    0
OCTOBER      0
NOVEMBER     0
DECEMBER     0
TOTAL        0
dtype: int64